body {
  background-color: white;
}

/* ========================================================== */

/* nav bar mẫu */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: gray;
  color: white;
}

/* ========================================================== */

/* cơ chế dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  left: 22%;
  min-width: 160px;
  z-index: 1;
  transition: all 3s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 3s ease;
}

/* ========================================================== */

/*UI dropdown của giỏ hàng*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 16px;
  margin: 5px;
}

/* ========================================================== */

/* nội dung trong UI */

.summary_card {
  background-color: #fff;
  width: 350px;
  height: max-content;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
}

/* ========================================================== */

/* các thẻ sản phẩm trong giỏ hàng */

.card_item {
  display: flex;
  position: relative;
  margin: 10px 0;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

.card_item .product_img img {
  height: 80px;
  margin-right: 20px;
  width: 70px;
  border-radius: 5px;
}

.product_info h1 {
  font-size: 20px;
  color: #1e212d;
  margin: 5px 0;
}

.product_info p {
  color: #a1a1a1;
  font-size: 14px;
}

.product_rate_info {
  display: flex;
  margin: 5px 0;
  align-items: center;
  font-weight: bold;
}

/* ========================================================== */

/* nút bấm (+) và (-) thêm bớt số lượng sản phẩm */

.pqt {
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  background-color: #d4d4d4;
}

.pqt-plus,
.pqt-minus {
  background: #fcfcfc;
  border: none;
  font-size: 20px;
  text-align: center;
  height: 100%;
  width: 30px;
  padding: 0;
  border-radius: 5px;
  border: solid 2px #1e212d;
}

.pqt-discard {
  margin-left: 60px;
}

.pqt-plus:hover,
.pqt-minus:hover,
.pqt-discard:hover {
  cursor: pointer;
}

.pqt-plus:active,
.pqt-minus:active {
  border-color: #b1b1b1;
  color: #b1b1b1;
}

.pqt-plus {
  line-height: 30px;
}

.pqt-minus {
  line-height: 30px;
}

/* ========================================================== */

/* giá tiền */

.order_price,
.order_service,
.order_total {
  display: flex;

  justify-content: space-between;
  padding: 10px;
}

.order_price p,
.order_service p {
  color: #a1a1a1;
}

.order_total p {
  font-weight: 600;
}